.cta{
  width: 80px;
  text-align: center;
	a{
		text-decoration: none;
		color: #fff;
		padding: 5px;
	  width: auto;
	  display: block;
	}
}
.cta.red a{
	background: #CD1D27;
}
.cta.green a{
	background: #157035;
}