body{
	background: url(../images/main_bg.png) no-repeat bottom center;
	background-size: 105%;
}
.l-page{
	width: 100%;
	.breadcrumb{
		display: none;
	}
	.l-main{
	}
	.l-header {
		background: #EEEEEE;
	}
	.l-header .inner-header{
		width: 960px;
		margin: 0 auto;
		padding-top: 10px;
	}
	.l-branding{
		width: 245px;
	}
	.l-region--navigation{
	  width: 485px;
	  float: right;
	  margin-top: -60px; 
		.menu li{
			float: left;
			list-style: none;
		}
	}
	.l-content{
		width: 960px;
		margin: 0 auto;
		padding: 0 20px;
	}
  .l-footer{
	  height: 65px;
	  width: 100%;
	  margin-top: 70px;
  }
}
@media only screen and (max-width: 1150px){
	body{
	  background-size: 115%;
  }
}
@media only screen and (max-width: $desktop){
  body{
	  background-size: 105%;
  }
	.l-page{
	  #admin-menu:{
		  display: none;
	  }
		.l-header .inner-header{
			width: 100%;
			padding: 10px;
		}
		.l-content{
			width: 660px;
		}
	}
}
@media only screen and (max-width: 775px){
	body{
	  background-size: 115%;
  }
}
@media only screen and (max-width: $tablet){
  body{
    background: none;
  }
	.l-page{
	  #admin-menu:{
		  display: none;
	  }
		.l-content{
			width: 100%;
			padding: 0 10px;
		}
		.l-branding{
			width: 60%;
			margin: 0;
		}
		.l-branding .site-logo img{
			width: 100%;
			height: auto;
		}
		.l-region--navigation{
	  width: 100%;
	  float: none;
	  margin-top: 0px; 
		}
		.l-region--navigation .menu li{
			float: left;
	  }
	  .l-footer{
		  background: #EEEEEE;
	  }
	}
}