#block-views-proximos-eventos-block,
.page-eventos,
.page-galerias{
  .block__title{
	  color: #2C7A34;
  }
	.view-proximos-eventos .view-content {
	  display: table;
	  .views-row{
	 	  width: 30%;
		  float: left;
		  margin-right: 5%;
		  margin-bottom: 20px;
		}
		.views-row-3,
		.views-row-9,
		.views-row-12,
		.views-row-15,
		.views-row-18,
		.views-row-21{
			margin-right: 0;
		}
	}
	.pager-load-more li{
		width: 150px;
		margin: 0 auto;
		list-style: none;
	}
	.pager-load-more li a{
		text-decoration: none;
		color: #fff;
		padding: 10px;
	  width: auto;
	  display: block;
	  background: #157035;
	}
}
.page-eventos .view-eventos,
.page-taxonomy.page-taxonomy-term{
  .pager{
	  display: none;
  }
	.views-row,
	.node{
	  >div{
		  position: relative;
	  }
	  margin: 20px 0 40px 0;
		.title{
			float: left;
			padding-right: 20px;
		}
		.title h2{
			margin: 0 0 20px 0;
		}
		.date{
			margin-bottom: 20px;
			font-weight: 600;
			font-size: 20px;
		}
		.intro.body{
			color: #101010;
			margin-bottom: 5px;
		}
		.image_label{
			width: auto;
		}
		.image_label.cta{
			width: auto;
			text-align: inherit;
			display: inline;
			position: absolute;
      bottom: 14px;
      right: 0;
		}
		.image_label.cta a{
			display: inline;
			padding: 10px;
			box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
		}
		.image_label.cta a:hover{
			text-decoration: underline;
		}
		.image img{
			width: 100%;
			height: auto;
		}
	}
}
