/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_typography.scss */
h1 {
  color: #2C7A34; }

/* line 4, ../sass/base/_typography.scss */
h1.green,
h2.green,
h3.green,
h4.green {
  color: #2C7A34; }

/* line 11, ../sass/base/_typography.scss */
h1.red,
h2.red,
h3.red,
h4.red {
  color: #CD1D27; }

/* line 3, ../sass/components/events/_base.scss */
.node-type-evento .tags .tag {
  display: inline-block;
  margin-right: 10px; }
/* line 7, ../sass/components/events/_base.scss */
.node-type-evento .tags .tag a {
  text-decoration: none; }
/* line 10, ../sass/components/events/_base.scss */
.node-type-evento .tags .tag a:hover {
  text-decoration: underline; }
/* line 13, ../sass/components/events/_base.scss */
.node-type-evento .tags .even.tag a {
  color: #2C7A34; }
/* line 16, ../sass/components/events/_base.scss */
.node-type-evento .tags .odd.tag a {
  color: #CD1D27; }
/* line 20, ../sass/components/events/_base.scss */
.node-type-evento .gallery .image_gallery {
  display: inline-block;
  margin-right: 10px;
  width: 30%; }

/* line 1, ../sass/components/global/_body.scss */
.body {
  color: #2D2D2D; }
  /* line 3, ../sass/components/global/_body.scss */
  .body p,
  .body a {
    font-size: 16px; }
  /* line 7, ../sass/components/global/_body.scss */
  .body * + * {
    margin: 10px 0; }

/* line 1, ../sass/components/global/_buttons.scss */
.cta {
  width: 80px;
  text-align: center; }
  /* line 4, ../sass/components/global/_buttons.scss */
  .cta a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    width: auto;
    display: block; }

/* line 12, ../sass/components/global/_buttons.scss */
.cta.red a {
  background: #CD1D27; }

/* line 15, ../sass/components/global/_buttons.scss */
.cta.green a {
  background: #157035; }

/* line 1, ../sass/components/global/_layout.scss */
body {
  background: url(../images/main_bg.png) no-repeat bottom center;
  background-size: 105%; }

/* line 5, ../sass/components/global/_layout.scss */
.l-page {
  width: 100%; }
  /* line 7, ../sass/components/global/_layout.scss */
  .l-page .breadcrumb {
    display: none; }
  /* line 12, ../sass/components/global/_layout.scss */
  .l-page .l-header {
    background: #EEEEEE; }
  /* line 15, ../sass/components/global/_layout.scss */
  .l-page .l-header .inner-header {
    width: 960px;
    margin: 0 auto;
    padding-top: 10px; }
  /* line 20, ../sass/components/global/_layout.scss */
  .l-page .l-branding {
    width: 245px; }
  /* line 23, ../sass/components/global/_layout.scss */
  .l-page .l-region--navigation {
    width: 485px;
    float: right;
    margin-top: -60px; }
    /* line 27, ../sass/components/global/_layout.scss */
    .l-page .l-region--navigation .menu li {
      float: left;
      list-style: none; }
  /* line 32, ../sass/components/global/_layout.scss */
  .l-page .l-content {
    width: 960px;
    margin: 0 auto;
    padding: 0 20px; }
  /* line 37, ../sass/components/global/_layout.scss */
  .l-page .l-footer {
    height: 65px;
    width: 100%;
    margin-top: 70px; }

@media only screen and (max-width: 1150px) {
  /* line 44, ../sass/components/global/_layout.scss */
  body {
    background-size: 115%; } }
@media only screen and (max-width: 960px) {
  /* line 49, ../sass/components/global/_layout.scss */
  body {
    background-size: 105%; }

  /* line 52, ../sass/components/global/_layout.scss */
  .l-page {
    #admin-menu-display: none; }
    /* line 56, ../sass/components/global/_layout.scss */
    .l-page .l-header .inner-header {
      width: 100%;
      padding: 10px; }
    /* line 60, ../sass/components/global/_layout.scss */
    .l-page .l-content {
      width: 660px; } }
@media only screen and (max-width: 775px) {
  /* line 66, ../sass/components/global/_layout.scss */
  body {
    background-size: 115%; } }
@media only screen and (max-width: 660px) {
  /* line 71, ../sass/components/global/_layout.scss */
  body {
    background: none; }

  /* line 74, ../sass/components/global/_layout.scss */
  .l-page {
    #admin-menu-display: none; }
    /* line 78, ../sass/components/global/_layout.scss */
    .l-page .l-content {
      width: 100%;
      padding: 0 10px; }
    /* line 82, ../sass/components/global/_layout.scss */
    .l-page .l-branding {
      width: 60%;
      margin: 0; }
    /* line 86, ../sass/components/global/_layout.scss */
    .l-page .l-branding .site-logo img {
      width: 100%;
      height: auto; }
    /* line 90, ../sass/components/global/_layout.scss */
    .l-page .l-region--navigation {
      width: 100%;
      float: none;
      margin-top: 0px; }
    /* line 95, ../sass/components/global/_layout.scss */
    .l-page .l-region--navigation .menu li {
      float: left; }
    /* line 98, ../sass/components/global/_layout.scss */
    .l-page .l-footer {
      background: #EEEEEE; } }
/* line 2, ../sass/components/global/menus/_main_menu.scss */
#block-system-main-menu #menu_opener {
  display: none; }
/* line 5, ../sass/components/global/menus/_main_menu.scss */
#block-system-main-menu ul.menu li {
  padding-right: 12px;
  margin-left: 12px;
  border-right: solid 3px #94142B; }
/* line 10, ../sass/components/global/menus/_main_menu.scss */
#block-system-main-menu ul.menu li.last {
  border-right: none;
  padding-right: 0px; }
/* line 14, ../sass/components/global/menus/_main_menu.scss */
#block-system-main-menu ul.menu li.first {
  margin-left: 0px; }
/* line 17, ../sass/components/global/menus/_main_menu.scss */
#block-system-main-menu ul.menu li a {
  text-decoration: none;
  color: #94142B;
  font-weight: 600; }

@media only screen and (max-width: 960px) {
  /* line 24, ../sass/components/global/menus/_main_menu.scss */
  #block-system-main-menu {
    margin-left: 25px; } }
@media only screen and (max-width: 660px) {
  /* line 30, ../sass/components/global/menus/_main_menu.scss */
  #block-system-main-menu ul.menu {
    display: none; }

  /* line 34, ../sass/components/global/menus/_main_menu.scss */
  #menu_opener {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../images/menu_opener.png) no-repeat center left;
    background-size: 50px 50px;
    cursor: pointer;
    top: 10px;
    right: 10px; }

  /* line 45, ../sass/components/global/menus/_main_menu.scss */
  .mobile_menu.mm-menu {
    margin-top: 0;
    background: #B60F37; }
    /* line 48, ../sass/components/global/menus/_main_menu.scss */
    .mobile_menu.mm-menu li {
      padding: 20px;
      border-bottom: solid 1px #fff; }
    /* line 52, ../sass/components/global/menus/_main_menu.scss */
    .mobile_menu.mm-menu li a {
      color: #fff;
      text-decoration: none;
      font-size: 18px; } }
/* line 1, ../sass/components/global/menus/_social_menu.scss */
#block-menu-menu-social-menu {
  float: right;
  margin-top: -27px; }
  /* line 4, ../sass/components/global/menus/_social_menu.scss */
  #block-menu-menu-social-menu ul.menu li {
    margin-left: 7px; }
    /* line 6, ../sass/components/global/menus/_social_menu.scss */
    #block-menu-menu-social-menu ul.menu li .social_item {
      width: 30px;
      height: 30px;
      overflow: hidden;
      text-indent: -9999px;
      display: block; }
    /* line 13, ../sass/components/global/menus/_social_menu.scss */
    #block-menu-menu-social-menu ul.menu li #insta {
      background: url(../images/insta.png) no-repeat center center; }
    /* line 16, ../sass/components/global/menus/_social_menu.scss */
    #block-menu-menu-social-menu ul.menu li #tw {
      background: url(../images/twi.png) no-repeat center center; }
    /* line 19, ../sass/components/global/menus/_social_menu.scss */
    #block-menu-menu-social-menu ul.menu li #fb {
      background: url(../images/fb.png) no-repeat center center; }

@media only screen and (max-width: 660px) {
  /* line 25, ../sass/components/global/menus/_social_menu.scss */
  #block-menu-menu-social-menu {
    display: none; } }
/* line 2, ../sass/components/home/_banners.scss */
.banners_wrapper .banner .image img {
  width: 100%;
  height: auto; }

/* line 2, ../sass/components/home/_feature_block.scss */
.feature_block .subtitle h3 {
  font-size: 14px; }
/* line 5, ../sass/components/home/_feature_block.scss */
.feature_block .body {
  font-size: 12px; }

/* line 2, ../sass/components/home/_feature_carrousel.scss */
.feature_carrousel .carrousel_item {
  padding: 15px 0;
  border-bottom: dotted 3px #ccc; }
  /* line 5, ../sass/components/home/_feature_carrousel.scss */
  .feature_carrousel .carrousel_item .date {
    color: #CD1D27;
    margin-bottom: 5px; }
  /* line 9, ../sass/components/home/_feature_carrousel.scss */
  .feature_carrousel .carrousel_item .title h3 {
    margin: 0 0 5px  0; }
  /* line 12, ../sass/components/home/_feature_carrousel.scss */
  .feature_carrousel .carrousel_item .title h3 a {
    text-decoration: none;
    color: #000;
    font-size: 14px; }

/* line 2, ../sass/components/home/_feature_recents.scss */
.feature_recents .intro_body {
  font-size: 12px; }
/* line 5, ../sass/components/home/_feature_recents.scss */
.feature_recents .recent_items {
  padding: 10px 0; }
/* line 8, ../sass/components/home/_feature_recents.scss */
.feature_recents .recent_items .items {
  margin-bottom: 10px; }
  /* line 10, ../sass/components/home/_feature_recents.scss */
  .feature_recents .recent_items .items .image {
    width: 25%;
    margin-right: 5px;
    float: left; }
  /* line 15, ../sass/components/home/_feature_recents.scss */
  .feature_recents .recent_items .items .title h3 {
    margin: 0px;
    font-size: 12px;
    color: #EE1427; }
  /* line 20, ../sass/components/home/_feature_recents.scss */
  .feature_recents .recent_items .items .intro_body {
    font-size: 10px; }

@media only screen and (max-width: 660px) {
  /* line 27, ../sass/components/home/_feature_recents.scss */
  .feature_recents .intro_body {
    font-size: 15px; }
  /* line 30, ../sass/components/home/_feature_recents.scss */
  .feature_recents .recent_items {
    padding: 10px 0; }
  /* line 34, ../sass/components/home/_feature_recents.scss */
  .feature_recents .recent_items .items .title h3 {
    font-size: 17px; }
  /* line 37, ../sass/components/home/_feature_recents.scss */
  .feature_recents .recent_items .items .intro_body {
    font-size: 14px; } }
/* line 2, ../sass/components/home/_feature_sections.scss */
.cols.home_cols > div {
  display: inline-block;
  padding-top: 15px; }
/* line 6, ../sass/components/home/_feature_sections.scss */
.cols.home_cols .col1.col_left {
  position: relative;
  width: 35%;
  float: left; }
/* line 11, ../sass/components/home/_feature_sections.scss */
.cols.home_cols .col2.col_center {
  position: relative;
  margin-left: 2%;
  width: 30%; }
/* line 16, ../sass/components/home/_feature_sections.scss */
.cols.home_cols .col3.col_right {
  position: relative;
  margin-left: 2%;
  float: right;
  width: 31%; }
/* line 22, ../sass/components/home/_feature_sections.scss */
.cols.home_cols .col1 h2,
.cols.home_cols .col2 h2,
.cols.home_cols .col3 h2 {
  margin: 0 0 10px 0;
  color: #267033;
  font-size: 24px; }

@media only screen and (max-width: 660px) {
  /* line 32, ../sass/components/home/_feature_sections.scss */
  .cols.home_cols .col1.col_left {
    position: relative;
    width: 48%; }
  /* line 36, ../sass/components/home/_feature_sections.scss */
  .cols.home_cols .col2.col_center {
    position: relative;
    margin-left: 4%;
    width: 48%; }
  /* line 41, ../sass/components/home/_feature_sections.scss */
  .cols.home_cols .col3.col_right {
    float: none;
    width: 100%; } }
@media only screen and (max-width: 390px) {
  /* line 51, ../sass/components/home/_feature_sections.scss */
  .cols.home_cols .col1.col_left {
    width: 100%; }
  /* line 54, ../sass/components/home/_feature_sections.scss */
  .cols.home_cols .col2.col_center {
    margin-left: 0;
    width: 100%; }
  /* line 58, ../sass/components/home/_feature_sections.scss */
  .cols.home_cols .col1,
  .cols.home_cols .col2,
  .cols.home_cols .col3 {
    margin: 10px 0; } }
/* line 2, ../sass/components/home/_hero.scss */
.hero #block-imageblock-1 img {
  width: 100%;
  height: auto; }

/* line 2, ../sass/components/news/_base.scss */
.node-type-news .gallery .image_gallery {
  display: inline-block;
  margin-right: 10px;
  width: 30%; }

/*# sourceMappingURL=laferia.styles.css.map */
