.cols.home_cols{
  .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
  }
  > div{
	  display: inline-block;
	  padding-top: 15px;
  }
	.col1.col_left{
	  position: relative;
		width: 35%;
		float: left;
	}
	.col2.col_center{
	  position: relative;
		margin-left: 2%;
		width: 30%;
	}
	.col3.col_right{
	  position: relative;
	  margin-left: 2%;
		float: right;
		width: 31%;
	}
	.col1 h2,
	.col2 h2,
	.col3 h2{
		margin: 0 0 10px 0;
		color: #267033;
		font-size: 24px;
	}
}
@media only screen and (max-width: $tablet){
	.cols.home_cols{
		.col1.col_left{
		  position: relative;
			width: 48%;
		}
		.col2.col_center{
		  position: relative;
			margin-left: 4%;
			width: 48%;
		}
		.col3.col_right{
		  
			float: none;
			width: 100%;
		}

	}
}
@media only screen and (max-width: 390px){
	.cols.home_cols{
		.col1.col_left{
			width: 100%;
		}
		.col2.col_center{
			margin-left: 0;
			width: 100%;
		}
		.col1,
		.col2,
		.col3{
		  margin: 10px 0; 
		}
	}
}