#block-views-carrusel-block{
  #views_slideshow_cycle_teaser_section_carrusel-block,
  #views_slideshow_cycle_teaser_section_carrusel-block div{
	  width: 100% !important;
  }
	.slide img{
		width: 100%;
		height: auto;
	}
}