h1{
	color: #2C7A34;
}
h1.green,
h2.green,
h3.green,
h4.green{
	color: #2C7A34;
}

h1.red,
h2.red,
h3.red,
h4.red{
	color: #CD1D27;
}

h1.green a,
h2.green a,
h3.green a,
h4.green a{
	color: #2C7A34;
	text-decoration: none;
}

h1.red a,
h2.red a,
h3.red a,
h4.red a{
	color: #CD1D27;
	text-decoration: none;
}

.red{
	color: #CD1D27;
}

.green{
	color: #2C7A34;
}