#block-system-main-menu{
  #menu_opener{
	  display: none;
  }
  ul.menu li{
	  padding-right: 12px;
	  margin-left: 12px;
	  border-right: solid 3px #94142B;
  }
  ul.menu li.last{
	  border-right: none;
	  padding-right: 0px;
  }
  ul.menu li.first{
	  margin-left: 0px;
  }
  ul.menu li a{
	  text-decoration: none;
	  color: #94142B;
	  font-weight: 600;
  }
}
@media only screen and (max-width: $desktop){
	#block-system-main-menu{
		margin-left: 25px;
	}
}
@media only screen and (max-width: $tablet){
	#block-system-main-menu{
		ul.menu {
			display: none;
		}
	}
	#menu_opener{
		display: block;
		position: absolute;
		width: 50px;
		height: 50px;
		background: url(../images/menu_opener.png) no-repeat center left;
		background-size: 50px 50px;
		cursor: pointer;
		top: 10px;
    right: 10px;
	}
	.mobile_menu.mm-menu{
		margin-top: 0;
		background: #B60F37;
		li{
			border-bottom: solid 1px #fff;
		}
		li a{
			color: #fff;
			text-decoration: none;
			font-size: 18px;
			padding: 20px; 
			display: block;
		}
	}
}